<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d6213561-733e-4bbd-a55e-4774f9708095/resourceGroups/LM-AzureAI/providers/Microsoft.Web/sites/lm-ApiUniversityAPI20241230183043</ResourceId>
    <ResourceGroup>LM-AzureAI</ResourceGroup>
    <ApiResourceId>/subscriptions/d6213561-733e-4bbd-a55e-4774f9708095/resourceGroups/LM-AzureAI/providers/Microsoft.ApiManagement/service/lm-UniversityAPIapi/apis/lm-UniversityAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lm-apiuniversityapi20241230183043.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4a21dd4b-4780-4b59-b62d-202590e2fcc0</ProjectGuid>
    <MSDeployServiceURL>lm-apiuniversityapi20241230183043.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>lm-ApiUniversityAPI20241230183043</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$lm-ApiUniversityAPI20241230183043</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>